@media (max-width: 900px) {
  html {
    height: auto;
  }
  body {
    height: auto;
  }
  body .topbar {
    width: 100%;
    height: 60px;
    padding: 0;
    padding-left: 72px !important;
    background-color: #eb1e25;
  }
  body .topbar > img {
    width: 72px;
    height: 100%;
  }
  body .leftbar {
    width: 100% !important;
  }
  body .leftbar > .menu {
    height: 100%;
  }
  body.menuclose .leftbar {
    display: none;
  }
  body .content,
  body.menuclose .content {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-left: 35px;
    padding-top: 76px;
    padding-right: 35px;
    padding-bottom: 16px;
  }
  .content .contitem {
    width: 100%;
    padding-left: 0;
  }
  .content .contitem#newsblock {
    height: 330px;
  }
  .content .contitem#taskblock {
    height: 260px;
  }
  .content .contitem .taskContainer {
    padding-top: 35px;
  }
  .content .contitem .taskContainer > div {
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  .content .contitem .taskContainer > div > div {
    width: 20%;
    height: 50%;
    padding: 10px 20px;
    float: left;
  }
  .content .contitem .taskContainer .item.newMsg::before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .content .contitem#documentblock,
  .content .contitem#scheduleblock,
  .content .contitem#stockblock {
    width: 50%;
    height: 300px;
  }
  .content .contitem#documentblock {
    padding-right: 10px;
  }
  .content .contitem#scheduleblock {
    padding-left: 10px;
  }
  .content .contitem#stockblock {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .content .contitem .newsContainer > .cont .banner {
    display: none;
  }
  .content .contitem .newsContainer > .cont .news {
    width: 100%;
  }
  .content .contitem .taskContainer {
    padding-top: 35px;
  }
  .content .contitem .taskContainer > div {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .content .contitem .taskContainer > div > div {
    width: 25%;
    padding: 10px;
    float: left;
  }
  .content .contitem .taskContainer > div .item {
    font-size: 15px;
  }
  .content .contitem .taskContainer > div .item.newMsg::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  .content .contitem#taskblock {
    height: 200px;
  }
  .content .contitem#documentblock,
  .content .contitem#scheduleblock,
  .content .contitem#stockblock {
    width: 100%;
    height: 200px;
    padding: 0 0 20px;
  }
}
