@media (max-width: 1025px) {
  body {
    overflow-y: scroll;
  }
  body .topbar .menutoggle {
    display: none;
  }
}
@media (max-width: 900px) {
  html {
    height: auto;
  }
  body {
    overflow: hidden;
    height: auto;
  }
  body .topbar {
    width: 100%;
    height: 60px;
    padding: 0;
    padding-left: 72px !important;
    background-color: #eb1e25;
  }
  body .topbar > .logobox {
    background-color: #eb1e25;
  }
  body .topbar > .logobox > .logo2 {
    display: none;
  }
  body .topbar .menutoggle {
    display: inline-block;
    color: #fff;
    margin-left: 15px;
    font-size: 22px;
  }
  body .topbar .myfavorite {
    position: absolute;
    right: 152px;
    top: 16px;
  }
  body .topbar .myfavorite .fa-heart-o {
    display: inline-block;
    color: #fff;
  }
  body .topbar .myfavorite > span > span {
    display: none;
  }
  body .topbar .myfavorite > span > i {
    font-size: 25px;
  }
  body .topbar .topright {
    padding-right: 30px;
    width: 136px;
  }
  body .topbar .topright .changetheme {
    background: none;
    font-size: 25px;
  }
  body .topbar .topright .changetheme .alertpanel {
    right: 30px;
  }
  body .topbar .topright .username > span .big {
    display: none;
  }
  body .topbar .topright .username > span .small {
    display: block;
  }
  body .topbar .topright .username > span .small > i {
    display: inline-block;
    font-size: 25px;
    color: #fff;
  }
  body .topbar .myfavorite .alertpanel {
    position: fixed;
    top: 60px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0px;
  }
  body .leftbar {
    width: 100% !important;
  }
  body .leftbar > .menu {
    height: 100%;
  }
  body.menuclose {
    overflow: scroll;
  }
  body.menuclose .leftbar {
    display: none;
  }
  body .content,
  body.menuclose .content {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    padding-top: 76px;
    padding-right: 30px;
    padding-bottom: 16px;
  }
  .slideBox {
    width: 150% !important;
  }
  .content .contitem {
    width: 100%;
    padding-left: 0;
  }
  .content .contitem#newsblock {
    height: 330px;
  }
  .content .contitem#taskblock {
    height: 260px;
  }
  .content .contitem .taskContainer {
    padding-top: 35px;
  }
  .content .contitem .taskContainer > div {
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  .content .contitem .taskContainer > div > div {
    width: 20%;
    height: 50%;
    padding: 10px 20px;
    float: left;
  }
  .content .contitem .taskContainer .item.newMsg::before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .content .contitem#documentblock,
  .content .contitem#scheduleblock,
  .content .contitem#stockblock {
    width: 33.3%;
    height: 300px;
  }
  .content .contitem#documentblock {
    padding-right: 10px;
  }
  .content .contitem#scheduleblock {
    padding-left: 10px;
  }
  .content .contitem#stockblock {
    padding-left: 20px;
  }
  .contitem[id^='origin'] {
    display: none;
  }
}
@media (max-width: 600px) {
  body .content {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  body .content .contitem .newsContainer > .cont .banner {
    display: none;
  }
  body .content .contitem .newsContainer > .cont .news {
    width: 100%;
  }
  body .content .contitem .taskContainer {
    padding-top: 35px;
  }
  body .content .contitem .taskContainer > div {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  body .content .contitem .taskContainer > div > div {
    width: 25%;
    padding: 10px;
    float: left;
  }
  body .content .contitem .taskContainer > div .item {
    font-size: 15px;
  }
  body .content .contitem .taskContainer > div .item.newMsg::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  body .content .contitem#taskblock {
    height: 200px;
  }
  body .content .contitem#documentblock,
  body .content .contitem#scheduleblock,
  body .content .contitem#stockblock {
    width: 100%;
    height: 300px;
    padding: 0 0 20px;
  }
  body .content .slideBox {
    width: 100% !important;
  }
  body #widgetcenter > .cont > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
