// mcd项目class命名规范
// 1 不使用 _ ；若需要命名前缀，使用 -；如 ui-checkbox
// 2 不使用驼峰式
// 3 后缀层次等级 bar = block > box > item
// 4 尽量使用class控制样式，使用id进行js操作
// 5 样式属性书写顺序 
// 这几个尽量靠前 position\top,left\display\width,height\z-index
// 这几个尽量靠后 color\background\font-size

@menuw1 : 214px;
@menuw2 : 72px;
@speed : 300ms;
@red : #d02b1e;
html,body{
	height:100%;
	min-height:650px;
}
.menu,.topbar{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}
.verticalCenter{
	display: block;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%); 
	-moz-transform:translateY(-50%); 	
	-webkit-transform:translateY(-50%); 
	-o-transform:translateY(-50%); 
}
.horizontalCenter{
	display: block;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%); 
	-moz-transform:translateX(-50%); 	
	-webkit-transform:translateX(-50%); 
	-o-transform:translateX(-50%); 
}
.veryCenter{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%); 
	-moz-transform:translate(-50%,-50%); 	
	-webkit-transform:translate(-50%,-50%); 
	-o-transform:translate(-50%,-50%); 
}
body{
	background-image: url(../img/Dashboard_bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.topbar{
		position: absolute;
		top:0;left:0;
		height:60px;
		width:100%;
		padding-left: @menuw1 + 25px;
		padding-right: 50px;
		z-index:6;
		line-height: 60px;
		&>.logobox{
			position:absolute;
			left:0;top:0;
			height:60px;
			width:214px;
			overflow: hidden;
			background-color: @red;
			&>.logo1{
				position: absolute;
				left:0;top:0;
				display: block;
				height: 60px;
				width: 72px;
				padding: 14px 18px;
			}
			&>.logo2{
				position: absolute;
				left:65px;top:22px;
				display: block;
				height: 16px;
				width: 130px;
			}
		}
		.menutoggle{
			display: inline-block;
			height: 30px;
			width: 30px;
			line-height: 30px;
			font-size: 18px;
			color: @red;
			position: relative;
			top:2px;
			margin-right: 10px;
			cursor: pointer;
		}
		.myfavorite,.username{
			position: relative;
			display: inline-block;
			height:30px;
			line-height: 30px;
			span{
				position: relative;
				display: inline-block;
				height:30px;
				cursor:pointer;
			}
		}
		.myfavorite{
			.fa-heart-o{
				display: none;
			}
			.alertpanel{
				height:270px;
				bottom:-270px;
				padding: 15px;
				left:0;
				.linkbox{
					width:159px;
					height:100%;
					float: left;
					.linkitem{
						width:100%;
						line-height: 20px;
						height:40px;
						padding:10px 20px 10px 10px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.addbtn{
					position:absolute;
					right:20px;
					bottom:15px;
					color:#ee4f3c;
				}
			}
		}
		.username{
			&>i{
				display: none;
			}
			.alertpanel{
				width: 130px;
				height:84px;
				right:0px;
				top: 30px;
				&>div{
					height:50%;
					width:100%;
					padding: 0 5px;
					line-height: 41px;
					border-bottom:1px solid #ddd;
					cursor: pointer;
					&:last-child{
						border-bottom: none;
					}
					&:hover{
						background-color: #f4f4f4;
					}
					&>i{
						color: #333;
						margin: 0 10px;
					}
				}
			}
		}
		.topright{
			float: right;
			height:60px;
			.changetheme{
				display: inline-block;
				height:28px;
				width:28px;
				border-radius: 14px;
				text-align: center;
				line-height: 28px;
				font-size: 16px;
				color: #fff;
				background-color: lighten(#189cbb,7%);
				i{
					cursor:pointer;				
				}
				.alertpanel{
					width: 180px;
					height: 78px;
					padding:0 10px;
					top: 45px;
					&>.title{
						width: 100%;
						height: 38px;
						line-height: 38px;
						font-size: 13px;
						color: #555;
						text-indent: 8px;
						text-align: left;
					}
					&>.itembox{
						width: 100%;
						height: 40px;
						&>.item{
							width: 22px;
							height:22px;
							float: left;
							margin: 0 8px;
							border-radius: 12px;
							background-color: #b4bdc9;
							cursor: pointer;
							&:nth-child(2){
								background-color: lighten(@red,10%);
							}
							&:nth-child(3){
								background-color: #64c7db;
							}
							&:nth-child(4){
								background-color: #b4bdc9;
								&>img{
									height: 14px;
									position: relative;
									top:4px;
									display: block;
									margin: 0 auto;
								}
							}
						}
					}
				}
			}
			.username{
				position: relative;
				margin-left:10px;
				&>span{
					
					.big{
						padding-right:40px;
						&>i{
							position: absolute;
							top: 7px;
							right: 0px;
						}
					}
					.small{
						display: none;
					}
					&.hasmessage{
						.big{
							&::before{
								content: '';
								position: absolute;
								top:10px;
								right:25px;
								display: block;
								height:8px;
								width:8px;
								border-radius: 4px;
								background-color: @red;
							}
						}
						
					}
				}
				
			}
		}
	}
	.alertpanel{
		display: none;
		position:absolute;
		width:auto;
		background-color: #fff;
		font-size: 12px;
		border: 1px solid #ddd;
		box-shadow: 5px 5px 0px rgba(0,0,0,0.1);
	}
	.open{
		.alertpanel{
			display: block;
		}
	}
	.leftbar{
		position:absolute;
		left:0;top:0;
		width:@menuw1;
		height:100%;
		padding-top: 60px;
		overflow-y: scroll;
		background-color: lighten(#281414,2%);
		z-index:5;
		&>.menu{
			width:100%;
			height: auto;
			max-height: 100%;
			padding-top: 8px;
			margin-top: -8px;
			color:#e8e8e8;
			&>li{
				position: relative;
				height:44px;
				margin:8px 0;
				width:100%;
				overflow: hidden !important;
				cursor:pointer;
				&>a{
					position: relative;
					display: block;
					height:44px;
					width:100%;
					line-height: 44px;
					padding-left: 60px;
					&:hover{
						background-color: rgba(255,255,255,0.1);
					}
					&>i{
						position: absolute;
						left: 18px;
						top:10px;
						font-size: 24px;
					}
					&>span{
						// width:100%;
					}
					&>div{
						position: absolute;
						height:100%;
						width:auto;
						right: 0px;
						top:0px;
						font-size: 24px;
						&>i.fa-angle-down{
							display: none;
						}
					}
				}
				&>.submenu{
					display: none;
					height:auto;
					width:100%;
					&>li{
						width:100%;
						padding-left: 60px;
						height:35px;
						line-height: 35px;
						cursor:pointer;
						&:hover{
							background-color: rgba(255,255,255,0.1);
						}
					}
				}
			}
			&>li.open{
				&>a{
					&>div{
						&>i.fa-angle-right{
							display: none;
						}
						&>i.fa-angle-down{
							display: inline-block;
						}
					}
				}
				&>.submenu{
					display: block;
				}
			}
			&>li.set{
				&>a{
					background-color: @red;
				}
				&>.submenu{
					display: block;
				}
			}
		}
	}
	.content{
		width:100%;
		height:100%;
		position: relative;
		padding-left: @menuw1+5px;
		padding-top: 60px;
		padding-right: 50px;
		padding-bottom: 25px;
	}
}
body.menuclose{
	.topbar{
		padding-left: @menuw2+25px;
		&>.logobox{
			position:absolute;
			left:0;top:0;
			height:60px;
			width:72px;
			&>.logo2{
				display: none;
			}
		}
	}
	.leftbar{
		width:@menuw2;
		overflow-y: visible;
		&>.menu{
			&>li{
				height: 44px !important;
				overflow: visible !important;
				margin: 16px 0;
				&>a{
					padding-left: 72px;
					&>i{
						top: 5px;
						font-size: 30px;
					}
					&>span{
						display: none;
					}
					&>div{
						display: none;
					}
				}
				&>.submenu{
					display: none;
				}
			}
		}
		&>.menu{
			&>li.set{
				&:hover{
					&>a{
						&>span{
							display: block;
							position: absolute;
							top: 0;
							left: 72px;
							width: 150px;
							height: 44px;
							padding-left: 24px;
							background-color: @red;
						}
					}
					&>.submenu{
						display: block;
						position: absolute;
						top: 44px;
						left: 72px;
						width: 150px;
						background-color: @red;
						&>li{
							padding-left: 40px;
						}
					}
				}
			}
		}
	}
	.content{
		padding-left: @menuw2+5px;
	}
}
.one-third{
	width:33.3%;
}
.two-third{
	width:66.6%;
}
.slideContainer{
			width: 100%;
			height: 50%;
			overflow: hidden;
			&>div{
				width: 100%;
				height: 100%;
				overflow: scroll;
			}
			.slideBox{
				width: 100%;
				height: 100%;
			}
		}
.content{
	.slideContainer{
		.contitem{
			padding-top: 10px;
			height: 100%;
		}
	}
	.contitem{
		height:50%;
		float: left;
		padding-left:20px;
		&#newsblock,&#taskblock{
			padding-bottom: 10px;
		}
		&#documentblock,&#scheduleblock,&#stockblock{
			
		}
		.newsContainer,.taskContainer,.documentContainer,.scheduleContainer,.stockContainer{
			position: relative;
			width: 100%;
			height: 100%;
			background-color: #fff;
			.title{
				font-weight: normal;
				color: #fff;
				font-size: 14px;
			}
		}
		.newsContainer{
			&>.btngroup{
				width: 100%;
				height:35px;
				background-color: #482625;
				color:#fff;
				position: relative;
				z-index: 1;	
				.title{
					float: left;
					height: 100%;
					width: 50%;
					max-width:210px;
					font-size: 14px;
					line-height: 35px;
					text-align: center;
					cursor: pointer;
				}
				.title.set{
					background-color: #eb1e25;
				}
			}
			&>.cont{
				display: none;
				position: absolute;
				left:0;
				top: 0;
				height: 100%;
				width: 100%;
				padding-top: 35px;
				&.show{
					display: block;
				}
				.banner{
					float: left;	
					width: 50%;
					height: 100%;
					max-width:360px;
					img{
						width: 100%;
						height: 100%;
						display: block;
					}
				}
				.news{
					float: left;
					width: 50%;
					height: 100%;
					padding: 5px 20px;
					&>.cont{
						position: relative;
						width:100%;
						height: 100%;
						min-width: 200px;
						padding-top: 40px;
						h1{
							position: absolute;
							top: 0;
							left:0;
							color: #f97c11;
							height: 40px;
							line-height: 40px;
							font-size: 20px;
							font-weight: normal;
						}
						&>.cont{
							width: 100%;
							height:100%;
							.item{
								height: 33.3%;
								width:100%;
								border-bottom: 1px solid #ddd;
								position: relative;
								.date{
									width: 23%;
									height: 45px;
									.day,.mon{
										width:100%;
										display: block;
										color: #777;
									}
									.day{
										font-size: 35px;
										position: relative;
										bottom: 5px;
									}
									.mon{
										font-size: 15px;
										position: relative;
										bottom: 15px;
										left:4px;
									}
								}
								.text{
									width: 77%;
									left:23%;
									color: #999;
								}
								&:last-child{
									border-bottom: none;
								}
							}
						}
					}
				}
			}
		}

		.taskContainer{
			padding-top: 35px;
			&>div{
				width: 100%;
				height: 100%;
				padding: 15px;
				&>div{
					width: 33%;
					height: 33%;
					padding: 10px;
					float: left;
				}
			}
			.title{
				width: 100%;
				background-color: #eb1e25;
				padding-left: 15px;
				height: 35px;
				line-height: 35px;
				position: absolute;
				top: 0;
			}
			.item{
				width: 100%;
				height: 100%;
				text-align: center;
				color: #fff;
				font-size: 18px;
				border-radius: 5px;
				background-color: #fdbd15;
				position: relative;
				cursor: pointer;
				&.newMsg::before{
					content: attr(data-num);
					display:block;
					width: 20px;
					height: 20px;
					line-height: 20px;
					border-radius: 50%;
					border:2px #fff solid;
					text-align: center;
					color: #fff;
					font-size: 12px;
					position: absolute;
					right: -10px;
					top:-10px;
					background-color: #ed2621;
				}
			}
			#AM{
				background-color: #f6664b;
			}
			#PMT{
				background-color: #64C7DB;
			}
			#MGIS{
				background-color: #46A7BC;
			}
			#IT{
				background-color: #EF9D18;
			}
			#EMS{
				background-color: #31BF9E;
			}
			#BIL{
				background-color: #607DF0;
			}	
		}
		.documentContainer{
			padding-top: 45px;
			.title{
				width: 100%;
				background-color: #482625;
				padding-left: 15px;
				height: 45px;
				line-height: 45px;
				color: #fff;
				font-size: 14px;
				font-weight: normal;
				position: absolute;
				top: 0;
			}
			.listContainer{
				width: 100%;
				height: 100%;
				padding: 10px 20px;
				overflow: hidden;
			}
			ul{
				width: 100%;
				height: 100%;
				overflow: hidden;
				&>li{
					position: relative;
					width: 100%;
					height: 25%;
					min-height: 50px;
					max-height: 80px;
					&>a{
						width: 100%;
						img{
							position: absolute;
						}
						h6{
							margin-left: 50px;
							font-size: 13px;
						}
						p{
							height: 30px;
							line-height: 15px;
							margin-left: 50px;
							font-size: 12px;
							overflow: hidden;
						}
					}
				}
			}
		}
		.scheduleContainer{
			padding-top: 59px;
			background-color: rgba(223,0,0,0.8);
			.title{
				position: absolute;
				top: 0;
				width: 100%;
				padding: 10px 15px;
				padding-bottom: 0;
				img{
					position: absolute;
					right: 20px;
				}
				strong{
					display: block;
					color: #fff;
					font-size: 22px;
					font-weight: normal;
				}
				span{
					display: block;
					color: #fff;
					font-size: 15px;
				}
			}
			.listContainer{
				width: 100%;
				height: 100%;
				padding: 0 15px;
				ul{
					width: 100%;
					height: 100%;
					margin: 0 auto;
					overflow: hidden;
					li{
						display: block;
						position: relative;
						width: 100%;
						height: 20%;
						max-height: 70px;
						min-height: 40px;
						
						border-bottom: 1px rgba(255,255,255,0.2) solid;
						&:last-of-type{
							border-bottom: none;
						}
						a{
							display: block;
							position: relative;
							width: 100%;
							line-height: 20px;
							padding-right: 50px;
							color: #fff;
							font-size: 14px;
							text-overflow: ellipsis;
  							white-space: nowrap;
  							overflow: hidden;
							span{
								display: block;
								position: absolute;
								right: 1px;
								top: 0;
								width: 45px;
								height: 20px;
								line-height: 20px;
								text-align: center;
								background-color: #ffc72c;
								font-size: 12px;
								border-radius: 10px;
							}
						}
					}
				}
			}
		}
		.stockContainer{
			padding-top: 45px;
			.title{
				position: absolute;
				top: 0;
				height: 45px;
				line-height: 45px;
				width: 100%;
				padding: 0 15px;
				span{
					color: #cf2c1b;
				}
				a{
					display: block;
					width: 35px;
					height: 35px;
					position: absolute;
					right: 5px;
					top: 5px;
					color: #cf2c1b;
					font-size: 25px;
					text-align: center;
					line-height: 30px;
				}
				img{
					vertical-align: middle;
					margin-right: 10px;
				}
			}
			.listContainer{
				width: 100%;
				height: 100%;
				padding: 0 15px 15px;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		
		&>.noContainer{
			display: none;
			position: relative;
			width: 100%;
			height: 100%;
			background-color: rgba(253, 189, 21, 0.7);
			cursor: pointer;
			&>i{
				font-size: 56px;
				color: #fff;
			}
		}
		
	}
	.contitem.nocont{
		&>div{
			display: none;
		}
		&>.noContainer{
			display: block;
		}
	}
}
body.alertshow{
	overflow: hidden;
	.masklayer{
		display: block;
	}
}
.masklayer {
	position: fixed;
	display: none;
	z-index: 11;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	&>.alertbox{
		width: 100%;
		min-height:200px;
		overflow:hidden;
		background-color: #fff;
		&>.title{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			padding: 0 15px;
			height: 48px;
			line-height: 48px;
			h6,span{
				display: inline-block;
				height: 100%;
				font-weight: normal;
			}
			span{
				position:absolute;
				right: 5px;
				top:5px;
				width: 35px;
				height: 35px;
				line-height: 35px;
				text-align: center;
				cursor: pointer;
				font-size: 24px;
			}
		}
		&.cont{
			width:100%;
			height:100%;
			padding: 0 15px;
		}
	}
	
}
.masklayercont{
	display: none;
}
#widgetcenter{
	height: 305px;
	padding-top: 48px;
	max-width: 430px;
	&>.cont{
		&>div{
			width: 33.3%;
			float: left;
			height: 140px;
			padding: 8px 20px 0;
			&>.contblock{
				position: relative;
				width: 89px;
				height:83px;
				margin: 0 auto;
				border-radius:5px;
				background-color: #fbb113;
				&>i{
					font-size: 40px;
					color: #fff;
				}
				&>span{
					position: absolute;
					right: 2px;
					top: 1px;
					display: block;
					width: 32px;
					height: 32px;
					&>i{
						display: none;
						position: absolute;
						top: 3px;
						right: 4px;
					}
					&>input[type='checkbox']{
						position: absolute;
						top:1px;
						right: 1px;
					}
					&.lock{
						background: url('../img/widgetbg.png') no-repeat;
						&>i{
							display: block;						}
						&>input[type='checkbox']{
							display: none;
						}
					}
				}
			}
			&>span{
				display: block;
				margin:0 auto;
				width: 89px;
				padding:10px 5px 0;
				font-size: 15px;
			}
		}
	}
}
#addnewlink{
	height: 210px;
	max-width: 410px;
	padding-top: 40px;
	&>.title{
		height: 40px;
		line-height: 40px;
		background-color: #e94430;
		color: #fff;
		span{
			position:absolute;
			top:12px;
			right: 10px;
			width: 16px;
			height: 16px;
			line-height: 12px;
			text-align: center;
			cursor: pointer;
		}
	}
	&>.cont{
		padding: 15px;
		&>div{
			width:100%;
			height: 40px;
			padding: 5px 0px;
			line-height: 30px;
			padding-left: 70px;
			position: relative;
			&>span{
				display: block;
				position: absolute;
				left: 0;
				width: 70px;
			}
			&>input{
				display: block;
				width: 98%;
				height: 30px;
				border: 1px solid #ddd;
			}
		}
	}
	&>.btngroup{
		width: 210px;
		margin: 0 auto;
		.btn{
			display: block;
			float: left;
			width: 100px;
			height: 27px;
			line-height: 27px;
			text-align: center;
			color:#fff;
			border-radius: 3px;
			&:first-child{
				margin-right:10px;
			}
		}
	}
}
//可调整顺序的模块相关css
/*拖拽必要的样式*/
@media(min-width:900px){
	.gridly{
		position:relative;
	}
	.gridly .brick .title{
		cursor:move;
	}
	.brick{
		position:absolute;
		z-index:1;
	}
	.draging{
		z-index: 2;
		opacity: 0.8;
		&>div{
			border: 1px dashed #000;
		}
		
	}
}
@media(min-device-width:900px){
	body{
		min-width: 900px;
	}
}




