html,
body {
  height: 100%;
  min-height: 650px;
}
.menu,
.topbar {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.verticalCenter {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.horizontalCenter {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.veryCenter {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
body {
  background-image: url(../img/Dashboard_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .topbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding-left: 239px;
  padding-right: 50px;
  z-index: 6;
  line-height: 60px;
}
body .topbar > img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 60px;
  width: 72px;
}
body .topbar .menutoggle {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #d00;
}
body .topbar .myfavorite,
body .topbar .username {
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
body .topbar .myfavorite.open .alertpanel,
body .topbar .username.open .alertpanel {
  display: block;
}
body .topbar .myfavorite .alertpanel {
  height: 270px;
  bottom: -270px;
  padding: 15px;
  left: 0;
}
body .topbar .myfavorite .alertpanel .linkbox {
  width: 159px;
  height: 100%;
  float: left;
}
body .topbar .myfavorite .alertpanel .linkbox .linkitem {
  width: 100%;
  line-height: 20px;
  height: 40px;
  padding: 10px 20px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body .topbar .myfavorite .alertpanel .addbtn {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #ee4f3c;
}
body .topbar .username .alertpanel {
  width: 140px;
  height: 84px;
  right: -20px;
  top: 30px;
}
body .topbar .username .alertpanel > div {
  height: 50%;
  width: 100%;
  line-height: 41px;
  border-bottom: 1px solid #ddd;
}
body .topbar .username .alertpanel > div:last-child {
  border-bottom: none;
}
body .topbar .username .alertpanel > div:hover {
  background-color: #f4f4f4;
}
body .topbar .topright {
  float: right;
  height: 60px;
}
body .topbar .topright .changetheme {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 16px;
  text-align: center;
  line-height: 30px;
  background-color: #189cbb;
}
body .topbar .topright .username {
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
}
body .topbar .topright .username.hasmessage::before {
  content: '';
  position: absolute;
  top: 12px;
  right: -14px;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #d02b1e;
}
body .alertpanel {
  display: none;
  position: absolute;
  width: auto;
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
body .leftbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 214px;
  height: 100%;
  padding-top: 60px;
  background-color: #281414;
  z-index: 5;
}
body .leftbar > .menu {
  width: 100%;
  height: auto;
  max-height: 100%;
  color: #e8e8e8;
}
body .leftbar > .menu > li {
  height: 44px;
  margin: 8px 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
body .leftbar > .menu > li > a {
  display: block;
  height: 44px;
  width: 100%;
  line-height: 44px;
  padding-left: 20px;
}
body .leftbar > .menu > li > .submenu {
  height: auto;
  width: 100%;
  padding-left: 60px;
}
body .leftbar > .menu > li > .submenu > li {
  width: 100%;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
body .leftbar > .menu > li.set > a {
  background-color: #d02b1e;
}
body .content {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 219px;
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 25px;
}
body.menuclose .topbar {
  padding-left: 97px;
}
body.menuclose .leftbar {
  width: 72px;
}
body.menuclose .leftbar > .menu > li * {
  display: none;
}
body.menuclose .content {
  padding-left: 77px;
}
.one-third {
  width: 33.3%;
}
.two-third {
  width: 66.6%;
}
.slideContainer {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.slideContainer > div {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.slideContainer .slideBox {
  width: 100%;
  height: 100%;
}
.content .contitem {
  height: 50%;
  float: left;
  padding-left: 20px;
}
.content .contitem#newsblock,
.content .contitem#taskblock {
  padding-bottom: 10px;
}
.content .contitem#documentblock,
.content .contitem#scheduleblock,
.content .contitem#stockblock {
  padding-top: 10px;
  height: 100%;
}
.content .contitem .newsContainer,
.content .contitem .taskContainer,
.content .contitem .documentContainer,
.content .contitem .scheduleContainer,
.content .contitem .stockContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.content .contitem .newsContainer .title,
.content .contitem .taskContainer .title,
.content .contitem .documentContainer .title,
.content .contitem .scheduleContainer .title,
.content .contitem .stockContainer .title {
  font-weight: normal;
  color: #fff;
  font-size: 14px;
}
.content .contitem .newsContainer > .btngroup {
  width: 100%;
  height: 35px;
  background-color: #482625;
  color: #fff;
  position: relative;
  z-index: 1;
}
.content .contitem .newsContainer > .btngroup .title {
  float: left;
  height: 100%;
  width: 50%;
  max-width: 210px;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.content .contitem .newsContainer > .btngroup .title.set {
  background-color: #eb1e25;
}
.content .contitem .newsContainer > .cont {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 35px;
}
.content .contitem .newsContainer > .cont.show {
  display: block;
}
.content .contitem .newsContainer > .cont .banner {
  float: left;
  width: 50%;
  height: 100%;
  max-width: 360px;
}
.content .contitem .newsContainer > .cont .banner img {
  width: 100%;
  height: 100%;
  display: block;
}
.content .contitem .newsContainer > .cont .news {
  float: left;
  width: 50%;
  height: 100%;
  padding: 5px 20px;
}
.content .contitem .newsContainer > .cont .news > .cont {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 200px;
  padding-top: 40px;
}
.content .contitem .newsContainer > .cont .news > .cont h1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #f97c11;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont {
  width: 100%;
  height: 100%;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont .item {
  height: 33.3%;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont .item .date {
  width: 23%;
  height: 45px;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont .item .date .day,
.content .contitem .newsContainer > .cont .news > .cont > .cont .item .date .mon {
  width: 100%;
  display: block;
  color: #777;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont .item .date .day {
  font-size: 35px;
  position: relative;
  bottom: 5px;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont .item .date .mon {
  font-size: 15px;
  position: relative;
  bottom: 15px;
  left: 4px;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont .item .text {
  width: 77%;
  left: 23%;
  color: #999;
}
.content .contitem .newsContainer > .cont .news > .cont > .cont .item:last-child {
  border-bottom: none;
}
.content .contitem .taskContainer {
  padding-top: 35px;
}
.content .contitem .taskContainer > div {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.content .contitem .taskContainer > div > div {
  width: 33%;
  height: 33%;
  padding: 10px;
  float: left;
}
.content .contitem .taskContainer .title {
  width: 100%;
  background-color: #eb1e25;
  padding-left: 15px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  top: 0;
}
.content .contitem .taskContainer .item {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  background-color: #fdbd15;
  position: relative;
  cursor: pointer;
}
.content .contitem .taskContainer .item.newMsg::before {
  content: attr(data-num);
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border: 2px #fff solid;
  text-align: center;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #ed2621;
}
.content .contitem .taskContainer #AM {
  background-color: #f6664b;
}
.content .contitem .taskContainer #PMT {
  background-color: #64C7DB;
}
.content .contitem .taskContainer #MGIS {
  background-color: #46A7BC;
}
.content .contitem .taskContainer #IT {
  background-color: #EF9D18;
}
.content .contitem .taskContainer #EMS {
  background-color: #31BF9E;
}
.content .contitem .taskContainer #BIL {
  background-color: #607DF0;
}
.content .contitem .documentContainer {
  padding-top: 45px;
}
.content .contitem .documentContainer .title {
  width: 100%;
  background-color: #482625;
  padding-left: 15px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  top: 0;
}
.content .contitem .documentContainer .listContainer {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  overflow: hidden;
}
.content .contitem .documentContainer ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content .contitem .documentContainer ul > li {
  position: relative;
  width: 100%;
  height: 25%;
  min-height: 50px;
  max-height: 80px;
}
.content .contitem .documentContainer ul > li > a {
  width: 100%;
}
.content .contitem .documentContainer ul > li > a img {
  position: absolute;
}
.content .contitem .documentContainer ul > li > a h6 {
  margin-left: 50px;
  font-size: 13px;
}
.content .contitem .documentContainer ul > li > a p {
  height: 30px;
  line-height: 15px;
  margin-left: 50px;
  font-size: 12px;
  overflow: hidden;
}
.content .contitem .scheduleContainer {
  padding-top: 59px;
  background-color: rgba(223, 0, 0, 0.8);
}
.content .contitem .scheduleContainer .title {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  padding-bottom: 0;
}
.content .contitem .scheduleContainer .title img {
  position: absolute;
  right: 20px;
}
.content .contitem .scheduleContainer .title strong {
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
}
.content .contitem .scheduleContainer .title span {
  display: block;
  color: #fff;
  font-size: 15px;
}
.content .contitem .scheduleContainer .listContainer {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.content .contitem .scheduleContainer .listContainer ul {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.content .contitem .scheduleContainer .listContainer ul li {
  display: block;
  position: relative;
  width: 100%;
  height: 20%;
  max-height: 70px;
  min-height: 40px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
.content .contitem .scheduleContainer .listContainer ul li:last-of-type {
  border-bottom: none;
}
.content .contitem .scheduleContainer .listContainer ul li a {
  display: block;
  position: relative;
  width: 100%;
  line-height: 20px;
  padding-right: 50px;
  color: #fff;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content .contitem .scheduleContainer .listContainer ul li a span {
  display: block;
  position: absolute;
  right: 1px;
  top: 0;
  width: 45px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #ffc72c;
  font-size: 12px;
  border-radius: 10px;
}
.content .contitem .stockContainer {
  padding-top: 45px;
}
.content .contitem .stockContainer .title {
  position: absolute;
  top: 0;
  height: 45px;
  line-height: 45px;
  width: 100%;
  padding: 0 15px;
}
.content .contitem .stockContainer .title span {
  color: #cf2c1b;
}
.content .contitem .stockContainer .title a {
  display: block;
  position: absolute;
  right: 10px;
  top: -5px;
  color: #cf2c1b;
  font-size: 25px;
}
.content .contitem .stockContainer .title img {
  vertical-align: middle;
  margin-right: 10px;
}
.content .contitem .stockContainer .listContainer {
  width: 100%;
  height: 100%;
  padding: 0 15px 15px;
}
.content .contitem .stockContainer .listContainer img {
  width: 100%;
  height: 100%;
}
.content .contitem.nocont > * {
  display: none;
}
.content .contitem.nocont > .noContainer {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 189, 21, 0.7);
  cursor: pointer;
}
body.alertshow {
  overflow: hidden;
}
body.alertshow .masklayer {
  display: block;
}
.masklayer {
  position: fixed;
  display: none;
  z-index: 11;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.masklayer > .alertbox {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  background-color: #fff;
}
.masklayer > .alertbox > .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  height: 48px;
  line-height: 48px;
}
.masklayer > .alertbox > .title h6,
.masklayer > .alertbox > .title span {
  display: inline-block;
  height: 100%;
  font-weight: normal;
}
.masklayer > .alertbox > .title span {
  position: absolute;
  right: 15px;
  top: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
.masklayer > .alertbox.cont {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.masklayercont {
  display: none;
}
#widgetcenter {
  height: 305px;
  padding-top: 48px;
  max-width: 430px;
}
#widgetcenter > .cont > div {
  width: 33.3%;
  float: left;
  height: 140px;
  padding: 8px 20px 0;
}
#widgetcenter > .cont > div > .contblock {
  width: 89px;
  height: 83px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fbb113;
}
#widgetcenter > .cont > div > span {
  display: block;
  margin: 0 auto;
  width: 89px;
  padding: 0 5px;
  font-size: 15px;
}
#addnewlink {
  height: 210px;
  max-width: 410px;
  padding-top: 40px;
}
#addnewlink > .title {
  height: 40px;
  line-height: 40px;
  background-color: #e94430;
}
#addnewlink > .title span {
  position: absolute;
  top: 12px;
  width: 16px;
  height: 16px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}
#addnewlink > .cont {
  padding: 15px;
}
#addnewlink > .cont > div {
  width: 100%;
  height: 40px;
  padding: 5px 0px;
  line-height: 30px;
  padding-left: 70px;
  position: relative;
}
#addnewlink > .cont > div > span {
  display: block;
  position: absolute;
  left: 0;
  width: 70px;
}
#addnewlink > .cont > div > input {
  display: block;
  width: 98%;
  height: 30px;
  border: 1px solid #ddd;
}
#addnewlink > .btngroup {
  width: 210px;
  margin: 0 auto;
}
#addnewlink > .btngroup .btn {
  display: block;
  float: left;
  width: 100px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
#addnewlink > .btngroup .btn:first-child {
  margin-right: 10px;
}
